.round {
        display: flex;
        justify-content: space-around;
        padding-top: 100px;

}
.round2 {
        display: flex;
        justify-content: space-around;
        padding-top: 300px;
}
.mainBlock{
        display: inline-flex;
        background-color: #ccc44a;
        height: 100px;
        width: 100px;
        justify-content: center;
        align-items: center;
}
.w1 {
        box-shadow:  #656262 10px 10px;
}
.w2 {
        box-shadow:  #656262 10px 10px 3px 5px;
}
.w3 {
        box-shadow:  #656262 15px 15px 3px 1px;
}
.w4{
        box-shadow:  #ccc8c8 10px 10px 3px 5px;
}
.w5{
        box-shadow:  #656262 10px 10px 3px 5px;
}
.w6{
        box-shadow:  #ccc8c8 13px 13px 6px;
}
